<div class="row search-form">
  <form [formGroup]="formGroupSearchForm" class="col-md-4">
    <label for="name">Name</label>
    <input type="text" formControlName="name" class="name-input">
    <!--<label for="surname">Surname</label>
    <input type="text" formControlName="surname">
    <label for="email">Email</label>
    <input type="email" formControlName="email">
    <label for="password">Password</label>
    <input type="password" formControlName="password">-->
    <button (click)="searchCharacter.emit(formGroupSearchForm.value)" class="formgroup-btn">Search</button>
  </form>
</div>
